{% extends "views/base.html" %}
{% block title %}
    About us
{% endblock %}
{% block aboutUsActive %}
    active-link
{% endblock %}
{% block header %}
<header class="container-fluid h-5 px-0 header-part" id="header-part" id="head">
    <div class="d-flex align-items-center justify-content-between py-5 slide-container">
      <div class="d-flex justify-content-start align-items-center flex-column gap-3 z-1 w-auto">
        
        <div class="d-flex align-items-center flex-column gap-3 z-1 welcome-text">
            <h1 class="text-light">About us</h1>
            <p class="text-center text-light ">
                Welcome to Task manager, the ultimate task management solution designed to help you stay organized, productive, and in control of your daily responsibilities.
                Our mission is to simplify task management by providing a seamless and intuitive experience for individuals and teams. Whether you're managing personal projects or collaborating with colleagues, Task manager offers powerful features to streamline your workflow.
            </p>
        </div>
        
        <div class="justify-content-between gap-2 position-absolute slide-btn-container" id="slide-btn-container"></div>
      </div>
    </div>
</header>  
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
