{% extends "views/base.html" %}
{% block title %}
    About us
{% endblock %}
{% block aboutUsActive %}
    active-link
{% endblock %}
{% block content %}
    <h1 class="text-light">About us</h1>
    <p class="text-center text-light ">
        Welcome to Task manager, the ultimate task management solution designed to help you stay organized, productive, and in control of your daily responsibilities.
        Our mission is to simplify task management by providing a seamless and intuitive experience for individuals and teams. Whether you're managing personal projects or collaborating with colleagues, Task manager offers powerful features to streamline your workflow.
    </p>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
