<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="32x32">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/fontawesome-free-6.6.0-web/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_dashboard.css') }}">
    <script src="{{ url_for('static', filename='js/chart.js') }}" ></script>
    <title>Admin dashboard</title>
</head>
<body>
    <aside class="position-fixed bg-light shadow h-100 p-3 sidebar" id="sidebar">
        <h4 class="text-center">
            <i class="fas fa-user-shield me-2 text-success"></i>Task manager <br> 
        </h4>
        <div class="my-2">
            <div class="d-flex justify-content-center align-items-center gap-2">
                <span class="col-6 text-center text-dark fs-5">Admin space</span>
                <button class="toggle-btn" onclick="toggleSidebar()">
                    <i class="fas fa-angle-left"></i>
                </button>
            </div>
        </div>
        <form action="">
            <input class="form-control " type="search" name="search_user" id="search_user" placeholder="Find user">
        </form>

        <div class="pt-4">
            <h6>Managing & Analytics</h6>
            <ul class="nav flex-column gap-2">
                <a  href="/admin/dashboard" class="ms-2 p-2 text-decoration-none text-dark rounded-3 border shadow"><i class="fas fa-dashboard mx-2 text-primary"></i><span>Dashboard</span></a>
                <a  href="#" class="ms-2 p-2 text-decoration-none text-dark rounded-3"><i class="fas fa-chart-line mx-2 text-secondary"></i><span>Users Analytics</span></a>
                <a  href="/admin/manage_users" class="ms-2 p-2 text-decoration-none text-dark rounded-3"><i class="fas fa-hand mx-2 text-warning"></i><span>Manage Users</span></a>
                <a  href="/admin/manage_tasks" class="ms-2 p-2 text-decoration-none text-dark rounded-3"><i class="fas fa-th-large mx-2 text-success"></i><span>Users Tasks</span></a>
                <a  href="/admin/manage_subtasks" class="ms-2 p-2 text-decoration-none text-dark rounded-3"><i class="fas fa-list mx-2 text-danger"></i><span>Subtasks</span></a>
            </ul>
        </div>

        <div class="pt-4">
            <h6>Admins</h6>
            <ul  class="nav flex-column gap-2">
                <a  href="#" class="ms-2 p-2 text-decoration-none text-dark rounded-3"><i class="fas fa-users mx-2 text-secondary"></i><span>Manage admins</span></a>
                <a  href="#" class="ms-2 p-2 text-decoration-none text-dark rounded-3"><i class="fas fa-home mx-2 text-secondary"></i><span>Admins room</span></a>
            </ul>
        </div>
        <div class="pt-4 text-center">
            <a href="/auth/logout" class="text-decoration-none text-dark"><i class="btn bg-danger fas fa-power-off mx-2 text-light"></i><span>Logout</span></a>
        </div>

    </aside>
    <main class="position- ps-2 pt-1 p-3 main" id="main">
        <nav class="nav w-100 bg-light shadow p-2 rounded-3 justify-content-between mb-3">
            <h1 class="text-secondary"><i class="fas fa-dashboard mx-2 text-primary"></i>{{ title }}</h1>
            <div class="w-auto d-flex align-items-center justify-content-between border gap-2 mx-2 admin_profile_container">
                <img id="loading" src="{{ url_for('static', filename='images/loading.gif') }}" alt="">
                <span class="mx-3 text-secondary">
                    {{ email }}
                </span>
                <div class="dropdown">
                    <div class="border admin_profile d-flex justify-content-center align-items-center dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        <i class="fas fa-user text-secondary fs-4"></i>
                    </div>
                    <!-- Dropdown Form -->
                    <div class="dropdown-menu p-3 dropdown-form">
                      <form id="updateForm">
                        <div class="mb-3">
                          <label for="email" class="form-label">User Email</label>
                          <input type="email" value="{{ email }}" class="form-control" id="email" placeholder="example@mail.com" >
                        </div>

                        <div class="mb-3">
                            <label for="oldconfirmPassword" class="form-label">Confirm old Password</label>
                            <input type="password" class="form-control" id="oldconfirmPassword" required>
                        </div>
                
                        <div class="mb-3">
                          <label for="newPassword" class="form-label">New Password</label>
                          <input type="password" class="form-control" id="newPassword" required>
                        </div>
                
                        <div class="mb-3">
                          <label for="confirmPassword" class="form-label">Confirm Password</label>
                          <input type="password" class="form-control" id="confirmPassword" required>
                        </div>
                
                        <div class="text-center">
                            <button type="submit" class="btn btn-success w-50">Validate</button>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container-fluid rounded-3 p-1">
            <div class="row">
                <div class="col-md-3 p-2">
                    <div class="card text-bg-warning text-center">
                        <div class="card-body shadow bg-light rounded-3 total_users">
                            <i class="fas fa-users text-secondary"></i>
                            <h5 class="card-title">Total Users</h5>
                            <p class="card-text" id="total_users">N/a</p>
                            <hr class="m-0 border-secondary">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-2">
                    <div class="card text-bg-success text-center">
                        <div class="card-body shadow bg-light rounded-3 users_tasks">
                            <i class="fas fa-tasks text-success"></i>
                            <h5 class="card-title">Users Tasks</h5>
                            <p class="card-text" id="users_tasks">N/a</p>
                            <hr class="m-0 border-success">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-2">
                    <div class="card text-bg-info text-center">
                        <div class="card-body shadow bg-light rounded-3 users_subtasks">
                            <i class="fas fa-list text-warning"></i>
                            <h5 class="card-title">Subtasks</h5>
                            <p class="card-text" id="users_subtasks">N/a</p>
                            <hr class="m-0 border-warning" id="users_subtasks_percent">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-2">
                    <div class="card text-bg-danger text-center">
                        <div class="card-body shadow bg-light rounded-3 finished_subtasks">
                            <i class="fas fa-check-double text-success"></i>
                            <h5 class="card-title">Finished subtasks</h5>
                            <p class="card-text" id="finished_subtasks">N/a</p>
                            <hr class="m-0 border-success">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- charts goes here -->
        <div class="container-fluid bg-light shadow p-2 pt-3 charts_container rounded-3">
            <div class="row h-50 m-0">
                <div class="col-7">
                    <div class="col-12 h-100 border rounded-3 pt-1">
                        <h4 class="text-center my-1"><i class="fas fa-chart-line text-primary"></i> User Activity Line Chart</h4>
                        <canvas class="" id="user_activity_lineChart"></canvas>
                    </div>
                </div>
                <div class="col-5 d-flex justify-content-center align-items-center">
                    <div class="col-9 h-100 border rounded-3">
                        <div class="position-relative" id="percentage">
                            <span id="percentage_nbr">N/a</span>
                            <span style="font-size: 15px;">%</span>
                        </div>
                        <canvas id="user_circularChart" width="200" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="row h-50 m-0 my-2">
                <div class="col-12">
                    <div class="h-100 border rounded-3 d-flex justify-content-center align-items-center">
                        <canvas id="usersChart" height="70%"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- nofitication displayer -->
    <div id="notification" class="d-none position-fixed top-0 start-50 translate-middle-x mt-3 px-4 py-3 shadow rounded text-white d-flex align-items-center gap-2" style="z-index: 9999; min-width: 250px;">
        <i id="notification-icon" class=""></i>
        <span id="notification-message"></span>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/admin_dashboard.js') }}" ></script>
</body>
</html>