{% extends "views/base.html" %}
{% block title %}
    Authentication
{% endblock %}
{% block loginActive %}
    active-link
{% endblock %}
{% block pub %}
    <div class="d-flex align-items-center justify-content-center vh-100 ">
        <div class="bg-light shadow align-items-center mx-auto gap-3 p-2 form-container py-5 rounded-3">
            <div class="bg-light overflow-hidden auth-img" id="login-img">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" width="100%" height="100%">
            </div>
            <!-- Login form -->
            <form class="p-3" id="login_form" method="POST" action="/auth">
                <h2 class="text-secondary text-center"><i class="fas fa-user-lock text-secondary"></i> Member login</h2>
                <div>
                    <div class="py-0 px-4">
                        <i class="fa fa-envelope"></i>
                        <input class="text-dark" type="email" placeholder="Email" id="email" name="email" value="{{ email }}" required>
                    </div>
                    <div class="py-0 px-4">
                        <i class="fas fa-key"></i>
                        <input class="text-dark" type="password" placeholder="Password" id="password" name="password" value="{{ password }}" required>
                    </div>
                </div>
                <button class="btn fw-bold text-light bg-success" id="log-in">
                    Login <img class="loading" src="{{ url_for('static', filename='images/loading.gif') }}" alt="">
                </button>
                <a class="text-success text-center text-decoration-none" href="/auth/forgot_password">Forgot Password?</a>
                <a class="text-center text-decoration-none" href="" id="register-btn"> <i class="fas fa-arrow-left mx-2"></i> Create your account</a>
            </form>
    
            <!--Registration  form-->
            <form class="p-3 d-none" id="register_form" name="register" method="POST" action="/auth">
                <h3 class="text-secondary text-center"><i class="fas fa-id-card text-secondary"></i> Member Register</h3>
                <div>
                    <div class="py-0 px-4">
                        <i class="fas fa-envelope"></i>
                        <input class="text-dark" type="email" placeholder="Email" name="new_email" id="new_email" required>
                    </div>
                    <div class="py-0 px-4">
                        <i class="fas fa-key"></i>
                        <input class="text-dark" type="password" placeholder="Password" name="new_password" id="new_password" required>
                    </div>
                    <div class="py-0 px-4">
                        <i class="fas fa-key"></i>
                        <input class="text-dark" type="password" placeholder="Confirm password" name="new_confirmation_password" id="new_confirmation_password" required>
                    </div>
                </div>
                <button class="btn fw-bold text-light bg-success" id="register">
                    Register <img class="loading" src="{{ url_for('static', filename='images/loading.gif') }}" alt="">
                </button>
                <a class="text-center text-decoration-none" href="" id="login-btn">Already have an account <i class="fas fa-arrow-right mx-2"></i></a>
            </form>
            <div class="bg-light overflow-hidden auth-img d-none" id="register-img">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" width="100%" height="100%">
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/auth.script.js') }}"></script>
{% endblock %}
