<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/fontawesome-free-6.6.0-web/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="32x32">
    <script src="{{ url_for('static', filename='js/jQuery-3.7.1.min.js') }}"></script>
    {%  block head %}
    {% endblock %}
    <title>
        {% block title %}
            Base title
        {% endblock %}
    </title>
</head>
<body class="bg-light">
    {% block navigation %}
    <!-- navbar -->
    <div class="row m-0 z-1 d-flex justify-content-center" id="head">
      <nav class="navbar px-5 position-fixed nav-width m-2" id="nav"> 
        <h1 class="m-0 z-1">
          <span class="bold-style text-success">Task </span>Manager
        </h1>
        <ul class="m-0 menu-list" id="menu-list">
          <li class="md-mx-2 list-inline-item nav-item">
            <a class="p-0 nav-link" href="/">HOME</a>
          </li>
          <li class="md-mx-2 list-inline-item nav-item">
            <a class="p-0 nav-link" href="/about">ABOUT US</a>
          </li>
          <li class="md-mx-2 list-inline-item nav-item">
            <a class="p-0 nav-link" href="/contact">CONTACT US</a>
          </li>
          <li class="md-mx-2 list-inline-item nav-item">
            <a class="p-0 nav-link p-2 px-4 bg-warning text-dark rounded-3" href="/auth">Login</a>
          </li>
        </ul>
        <button class="btn menu-btn" id="menu-btn">
          <hr><hr><hr>
        </button>
      </nav>
    </div>
    {% endblock %}
    
    {% block header %}          
    {% endblock %}
    

    {% block pub %}
    {% endblock %}

    {% block footer %}
        <footer class="bg-dark text-light pt-4 pb-1">
            <div class="container">
            <div class="row">
        
                <!-- App Branding and Description -->
                <div class="col-md-4 mb-4">
                <h5 class="fw-bold text-white">
                    <i class="bi bi-graph-up-arrow me-2"></i>Task Manager
                </h5>
                <p>
                    Task Manager is committed to empowering businesses and individuals with innovative solutions to drive success.
                </p>
                <div class="d-flex gap-3 fs-5">
                    <a href="https://github.com/Andry-GitCrs/Task_Manager.git">
                        <i class="fa-brands fa-github fs-3 text-light m-0"></i>
                    </a>
                    <a href="https://facebook.com">
                        <i class="fa-brands fa-facebook fs-3 text-primary m-0"></i>
                    </a>
                    <a href="https://twitter.com">
                        <i class="fa-brands fa-twitter fs-3 text-primary m-0"></i>
                    </a>
                    <a href="https://whatsapp.com">
                        <i class="fa-brands fa-whatsapp fs-3 text-success m-0"></i>
                    </a>
                </div>
                </div>
        
                <!-- Links -->
                <div class="col-md-2 mb-4">
                <h6 class="fw-bold">Links</h6>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-warning text-decoration-none">Home</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Our Service</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Pricing</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Testimonials</a></li>
                </ul>
                </div>
        
                <!-- Pages -->
                <div class="col-md-2 mb-4">
                <h6 class="fw-bold">Pages</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Style-Guide</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Change-Log</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Licensing</a></li>
                </ul>
                </div>
        
                <!-- Contact -->
                <div class="col-md-4 mb-4">
                <h6 class="fw-bold">Contact Us</h6>
                <p><i class="bi bi-geo-alt-fill me-2"></i>308 Fandriana. Ankilahila, Institut Supérieur de Technologie d'Ambositra</p>
                <p><i class="bi bi-telephone-fill me-2"></i>(261) 33 14 568 86</p>
                <p><i class="bi bi-envelope-fill me-2"></i>andrianaivonoe403@gmail.com</p>
                </div>
            </div>
            <hr class="border-warning border-2 opacity-100">
        
            <!-- Bottom Footer -->
            <div class="d-md-flex justify-content-center align-items-center text-muted small pt-3">
                <div>
                &copy; 2025 Task Manager | Designed by <span class="text-light fw-bold">Andry</span> – Powered by andry.buss.com
                </div>
            </div>
            </div>
        </footer>
    {% endblock %}
    <!-- nofitication displayer -->
    <div id="notification" class="d-none position-fixed top-0 start-50 translate-middle-x mt-3 px-4 py-3 shadow rounded text-white d-flex align-items-center gap-2" style="z-index: 9999; min-width: 250px;">
        <i id="notification-icon" class=""></i>
        <span id="notification-message"></span>
    </div>
    {% block script %}
    {% endblock %}
</body>
</html>