{% extends 'views/base.html' %}
{% block title %}
    Contact us
{% endblock %}
{% block contactActive %}
    active-link
{% endblock %}
{% block slide %}
    <div class="bg-light shadow align-items-center gap-3 p-2 contact-form-container">
        {% block content %}
            <!-- Contact form -->
            <form class="p-3 w-100 h-100 d-flex flex-row" id="contact-form">
                <div class="side">
                    <h2>Contact Us</h2>
                    <p class="w-100" style="line-height: 25px;">Feel Free to use the form or drop us an email. Old-fashioned phone calls work too.</p>
                    <ul class="p-0">
                        <li class="list-inline-item d-block" ><i class="me-2 fas fa-phone"></i>+261 33 14 568 86</li>
                        <li class="list-inline-item d-block" ><i class="me-2 fas fa-envelope"></i>andrianaivonoe403@gmail.com</li>
                        <li class="list-inline-item d-block" ><i class="me-2 fas fa-location"></i>Ankilahila Fandriana 308</li>
                    </ul>
                </div>
                <div class="side">
                    <div class="d-flex flex-column bg-light p-0">
                        <!--Name input container-->
                        <div class="bg-light p-0 my-1">
                            <label for="name" class="m-0 d-block">Name</label>
                            <div class="d-flex gap-2">
                                <input class="form-control border" type="text" placeholder="First" name="first_name" id="first_name" required>
                                <input class="form-control border" type="text" placeholder="Last" name="last_name" id="last_name" required>
                            </div>
                        </div>
                        
                        <!--Email input container-->
                        <div class="bg-light p-0 my-1">
                            <label for="email" class="m-0 d-block">Email</label>
                            <input class="form-control border" type="email" placeholder="example@email.com" name="email" id="email" required>
                        </div>
                        
                        <!--Phone input container-->
                        <div class="bg-light p-0 my-1">
                            <label for="phone" class="m-0 d-block">Phone (optional)</label>
                            <input class="form-control border" type="phone" placeholder="XXX-XXX-XXXX" name="phone" id="phone">
                        </div>
                        
                        <!--Message input container-->
                        <div class="bg-light p-0 my-1">
                            <label for="phone" class="m-0 d-block">Message</label>
                            <textarea name="message" id="messageContent" class="from-control w-100 border" rows="2" required></textarea>
                        </div>
        
                        <!--Submit button-->
                        <div class="bg-light p-0 my-1">
                            <button type="submit" class="btn text-light fw-bold rounded-3" id="submit_feedback">Submit</button>
                        </div>
        
                    </div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </form>
        {% endblock %}
    </div>
{% endblock%}

{% block script %}
    <script src="{{ url_for('static', filename='js/contact.script.js') }}"></script>
{% endblock %}