{% extends "views/base.html" %}
{% block title %}
    Forgot password
{% endblock %}
{%  block head %}
 <style>
    body {
        overflow: hidden!important;
    }
 </style>
{% endblock %}
{% block loginActive %}
    active-link
{% endblock %}
{% block pub %}
    <div class="d-flex align-items-center justify-content-center vh-100 ">
        <div class="bg-light shadow align-items-center mx-auto gap-3 p-2 form-container py-3 rounded-3">
            <!--Registration  form-->
            <form class="p-3" id="forgot-password-form" name="register" method="POST" action="/auth">
                <h2 class="text-secondary text-center"><i class="fas fa-unlock-alt text-secondary"></i> Forgot password</h2>
                <div>
                    <div class="py-0 px-4">
                        <i class="fas fa-envelope"></i>
                        <input class="text-dark" type="email" placeholder="Your email address" name="email" id="email" required>
                    </div>
                    <div class="py-0 ps-4">
                        <i class="fas fa-key"></i>
                        <input class="text-dark" type="number" placeholder="OTP from email" name="otp" id="otp" min="1000" max="9999">
                        <button type="button" class="border-transparent fw-bold text-light bg-success w-50 py-1" id="send-otp">
                            <i class="fas fa-paper-plane"></i> Send
                        </button>
                    </div>
                    <div class="py-0 px-4">
                        <i class="fas fa-lock"></i>
                        <input class="text-dark" type="password" placeholder="New password" name="new_password" id="new_password" required>
                    </div>
                    <div class="py-0 px-4">
                        <i class="fas fa-lock"></i>
                        <input class="text-dark" type="password" placeholder="Confirm password" name="confirm_password" id="confirm_password" required>
                    </div>
                </div>
                <button class="btn fw-bold text-light bg-success" id="submit">
                    Update password <img class="loading" src="{{ url_for('static', filename='images/loading.gif') }}" alt="">        
                </button>
                <a class="text-center text-decoration-none" href="/auth" id="login-btn"><i class="fas fa-arrow-left mx-2"></i> Back </a>
            </form>
            <div class="bg-light overflow-hidden auth-img" id="register-img">
                <!-- <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" width="100%" height="100%"> -->
                <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
                <dotlottie-player src="https://lottie.host/9c58117c-0ef8-48e3-bfa4-4a2608eb65d1/20TX2qGiyq.lottie" background="transparent" speed="1" style="width: 100%; height: 100%" loop autoplay></dotlottie-player>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/forgot_password.js') }}"></script>
{% endblock %}
