{% extends "views/base.html" %}
{% block title %}
    Task Manager
{% endblock %}
{% block homeActive %}
    active-link
{% endblock %}
{% block content %}
    <h1 class="text-light">Task Manager App</h1>
    <p class="text-center text-light">
        "Welcome to Task Manager App – Your Ultimate Productivity Companion!
        Managing tasks has never been easier! With our intuitive and user-friendly interface, you can organize your daily activities, track progress, and stay productive effortlessly. Whether you're handling personal to-do lists, work projects, or long-term goals, our app is designed to help you stay on track.
        No more scattered notes or forgotten tasks—everything you need is in one place! Take control of your workflow and boost your productivity. Click "Get Started" now and experience the power of seamless task management!"
    </p>
    <a href="/auth">
        <button class="btn rounded-5 shadow py-3 px-5 fw-bold btn-warning text-dark">
            GET STARTED
        </button>
    </a>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
