<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/fontawesome-free-6.6.0-web/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="32x32">
    <script src="{{ url_for('static', filename='js/jQuery-3.7.1.min.js') }}"></script>
    <title>Today task</title>
</head>
<body>
    <aside class="bg-light pt-2 rounded-2 position-fixed m-2 mb-0">
        <div class="d-flex justify-content-between align-items-center my-1">
            <h3 class="text-dark d-flex align-items-center justify-content-center gap-2">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" width="40px" height="40px">
                Task manager
            </h3>
            <button class="btn menu-btn">
                <hr><hr><hr>
            </button>
        </div>
        <form class="d-flex justify-content-between align-items-center border px-3 py-2 rounded-2" action="">
            <i class="text-primary fa fa-search"></i>
            <input class="text-dark" type="search" id="findTask" onkeyup="findTaskk()" placeholder="Find task">
            <div id="searchResultsContainer" class="mt-3 p-2"></div>
        </form>
        <div class="my-3">
            <h4 class="text-dark fw-bold" >TASKS</h4>
            <ul class="p-0">
                <li class="my-2 p-1 px-3 d-flex justify-content-between align-items-center">
                    <div>
                        <i class="text-warning fas fa-clock"></i>
                        <a  class="text-dark text-decoration-none" href="/dashboard/upcoming">Upcoming</a>
                    </div>
                    <span class="text-dark">0</span>
                </li>
                <li class="my-2 p-1 px-3 d-flex justify-content-between align-items-center  active-page ">
                    <div>
                        <i class="text-success fas fa-list"></i>
                        <a  class="text-dark text-decoration-none" href="/dashboard/today">Today</a>
                    </div>
                    <span class="text-dark" id="todayTaskNbr">0</span>
                </li>
                <li class="my-2 p-1 px-3 d-flex justify-content-between align-items-center">
                    <div>
                        <i class="text-primary fas fa-calendar-days"></i>
                        <a  class="text-dark text-decoration-none" href="/dashboard/calendar">Calendar</a>
                    </div>
                </li>
                <li class="my-2 p-1 px-3 d-flex justify-content-between align-items-center">
                    <div>
                        <i class="text-info fas fa-grip"></i>
                        <a  class="text-dark text-decoration-none " href="/dashboard">Sticky Wall</a>
                    </div>
                    <span class="text-dark bg-light" id="taskNbr">0</span>
                </li>
            </ul>
        </div>
        <div class="my-3">
            <h4 class="text-dark fw-bold" >LISTS</h4>
            <ul class="p-0">
                <li class="my-2 p-1 px-3 d-flex justify-content-between align-items-center" onclick="alert('Sorry this feature is not available right now')">
                    <div>
                        <i class="text-dark fas fa-user"></i>
                        <a  class="text-dark text-decoration-none" href="#">Personal</a>
                    </div>
                </li>
                <li class="my-2 p-1 px-3 d-flex justify-content-between align-items-center" onclick="alert('Sorry this feature is not available right now')">
                    <div>
                        <i class="text-danger fas fa-circle"></i>
                        <a  class="text-dark text-decoration-none" href="#">Work</a>
                    </div>
                </li>
                <li class="my-2 p-1 px-3 d-flex justify-content-between align-items-center" onclick="alert('Sorry this feature is not available right now')">
                    <div>
                        <i class="text-secondary fas fa-square"></i>
                        <a  class="text-dark text-decoration-none" href="#">List 1</a>
                    </div>
                </li>
                <li class="my-2 p-1 px-3 d-flex justify-content-between align-items-center" onclick="alert('Sorry this feature is not available right now')">
                    <div>
                        <i class="text-success fas fa-add"></i>
                        <a  class="text-dark text-decoration-none" href="#">Add new list</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mt-5">
            <ul class="p-0">
                <li class="my-2 py-1">
                    <i class="text-danger fas fa-bug"></i>
                    <a class="text-dark text-decoration-none" href="mailto:andrianaivonoe403@gmail.com">Bug report</a>
                </li>
                <li class="my-2 py-1">
                    <i class="text-dark fas fa-cog"></i>
                    <a class="text-dark text-decoration-none" href="#">User account</a>
                </li>
                <li class="my-2 py-1">
                    <i class="text-secondary fas fa-power-off"></i>
                    <a class="text-dark text-decoration-none" href="/auth/logout">Sing out</a>
                </li>
            </ul>
        </div>
    </aside>
    <!-- Task list in Today -->
    <main class="sticky-wall-main p-3 py-4">
        <h1 class="text-dark d-flex align-items-center justify-content-between">
            <button class="btn menu-btn float-left menu-btn-mobile">
                <hr><hr><hr>
            </button>
            Today tasks
        </h1>
        <div class="container py-3">
            <div class="row justify-content-start" id="todayTaskContainer"></div>
        </div>
    </main>
    <!-- nofitication displayer -->
    <div id="notification" class="d-none position-fixed top-0 start-50 translate-middle-x mt-3 px-4 py-3 shadow rounded text-white d-flex align-items-center gap-2" style="z-index: 9999; min-width: 250px;">
        <i id="notification-icon" class=""></i>
        <span id="notification-message"></span>
    </div>
    <script src="{{ url_for('static', filename='js/dashboard.script.js') }}"></script>
    <script>

        async function fetchTodayTasks() {
            try {
                const response = await fetch("/api/user/getTodayTask", {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json"
                    }
                });

                if (!response.ok) {
                    showNotification('error', "Failed to fetch today's task")
                }

                let responseData = await response.json();

                if (response.ok && responseData.data.length > 0) {
                    const todayTasks = responseData.data;
                    $("#todayTaskNbr").text(responseData.data.length);
                    showNotification("success", `You have ${taskcount} task${taskcount > 1 ? "s" : ""} to do today`);

                    todayTasks.forEach(task => {
                        const {
                            task_id: id,
                            title,
                            start_date,
                            end_date,
                            description,
                            bg_color,
                            subtasks
                        } = task;
                        const taskElement = addTodayTask(
                            id,
                            title,
                            formatDate(start_date),
                            formatDate(end_date),
                            description,
                            bg_color,
                            subtasks
                        );
                        
                        $("#todayTaskContainer").append(taskElement);
                    });

                    return todayTasks.length;
                } else {
                    showNotification("error", "You don't have any task for today");
                }
            } catch (error) {
                showNotification("error", error.message);
            }
        }

        fetchTodayTasks()
        


        function addTodayTask(id, title, start_date, end_date, description, bg_color, subtasks) {
            let taskContainer = $(`<div class="col-4 p-1 taskBox" id="${id}"></div>`);

            taskContainer.html(`    
                <div class="h-100 p-2 rounded-3" style='background-color: ${bg_color}'>
                    <h3 class="text-dark task-title">
                        ${title}
                        <span class="text-dark date">
                        ${start_date} to ${end_date}
                        </span>
                        <i class="fas fa-add text-success" onclick="addSubTask('${id}')"></i> 
                        <i class="fas fa-trash text-danger" onclick="removeTask('${id}')"></i>
                    </h3>
                    <ul class="p-0" id='subtaskContainer${id}'>
                    ${
                        subtasks.map(subtask => `
                            <li 
                                class='justify-content-between align-items-center subTask subtask${subtask.subtask_id}' 
                                id='subtask${subtask.subtask_id}'
                                style="background-color: ${(subtask.finished)?'#198754' : '#f8f9fa'}"
                            >
                            <span 
                                style="color: ${(subtask.finished)?'#f8f9fa' : ''}"
                            > 
                                ${subtask.title}
                            </span>
                            <div class="w-auto d-flex justify-content-center gap-3 bg-transparent">
                                <i class="fas fa-pen" onclick="editSubTask('${subtask.subtask_id}')"></i>
                                <i class="fas fa-trash text-danger" onclick="removeSubTask('${subtask.subtask_id}')"></i>
                                <input
                                    ${subtask.finished ? "checked" : ""}
                                    value=${subtask.finished ? "off" : "on"}
                                    class="from-control mx-2 my-0"
                                    type="checkbox" name="subtask_status" 
                                    id="input${subtask.subtask_id}" 
                                    onchange="check(${subtask.subtask_id})"
                                />
                                <i 
                                    class="fas fa-check-circle text-warning"
                                    style="display: ${(subtask.finished)?'inline' : 'none'}" 
                                    id='check_icon${subtask.subtask_id}'
                                >
                                </i>
                            </div>
                        </li>
                        `).join('')
                    }
                    </ul>
                </div>
            `);
            $("#todayTaskContainer").append(taskContainer);
        }

    </script>
</body>
</html>