{% extends "views/base.html" %}
{% block head %}
    <script src="{{ url_for('static', filename='js/dashboard.script.js') }}"></script>
{% endblock %}
{% block title %}
    Today tasks
{% endblock %}
{% block today %}
    active-page
{% endblock %}
{% block content %}
    <h1 class="text-dark d-flex align-items-center justify-content-between">
        <button class="btn menu-btn float-left menu-btn-mobile">
            <hr><hr><hr>
        </button>
        Today tasks

        <img class="loading-dash loading" src="{{ url_for('static', filename='images/loading.gif') }}" alt="">
    </h1>
    <div class="container py-3">
        <div class="row justify-content-start" id="todayTaskContainer"></div>
    </div>
{% endblock %}
{% block script %}
    <script type="module" src="{{ url_for('static', filename='js/todayTask.script.js') }}"></script>
{% endblock %}