<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="32x32">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/users/dashboard.script.js') }}"></script>
    {% block head %}
    {% endblock %}
    <title>{% block title %} Base title {% endblock %}</title>
</head>
<body>
    <aside class="px-3 rounded-2 position-fixed mb-2 mb-0 py-2 shadow" id="aside">
        <div class="d-flex justify-content-between align-items-center my-1 mb-2">
            <h3 class="text-dark d-flex align-items-center justify-content-center gap-2">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" width="40px" height="40px">
                Task manager
            </h3>
            <button class="btn hide-btn">
                <i class="fas fa-angle-left"></i>
            </button>
        </div>
        <div class="my-2">
            <h4 class="text-dark fw-bold" >TASKS</h4>
            <ul class="p-0">
                <li class="my-2 p-1 px-3 d-flex justify-content-between align-items-center {% block upcoming %}{% endblock %}">
                    <div class="w-100 d-flex align-items-center">
                        <i class="text-warning fas fa-clock"></i>
                        <a  class="text-dark text-decoration-none w-100" href="/dashboard/upcoming">Upcoming</a>
                    </div>
                </li>
                <li class="my-2 p-1 px-3 d-flex justify-content-between align-items-center {% block today %}{% endblock %}">
                    <div class="w-100 d-flex align-items-center">
                        <i class="text-success fas fa-list"></i>
                        <a  class="text-dark text-decoration-none w-100" href="/dashboard/today">Today</a>
                    </div>
                    <span class="text-dark bg-light" id="todayTaskNbr">{{ today_task_nbr }}</span>
                </li>
                <li class="my-2 p-1 px-3 d-flex justify-content-between align-items-center {% block calendar %}{% endblock %}">
                    <div class="w-100 d-flex align-items-center">
                        <i class="text-primary fas fa-calendar-days"></i>
                        <a  class="text-dark text-decoration-none w-100" href="/dashboard/calendar">Calendar</a>
                    </div>
                </li>
                <li class="my-2 p-1 px-3 d-flex justify-content-between align-items-center {% block stickywall %}{% endblock %}">
                    <div class="w-100 d-flex align-items-center">
                        <i class="text-info fas fa-grip"></i>
                        <a  class="text-dark text-decoration-none w-100" href="/dashboard">Sticky Wall</a>
                    </div>
                    <span class="text-dark bg-light" id="taskNbr">{{ task_nbr }}</span>
                </li>
            </ul>
        </div>
        <div class="">
            <h4 class="text-dark fw-bold" >LISTS</h4>
            <ul class="p-2 list-container rounded-3">
                <li class="my-2 p-1 px-3 d-flex justify-content-between align-items-center active-dash-link" onclick="showNotification('error', 'Sorry this feature is not available right now')">
                    <div>
                        <i class="text-secondary fas fa-user"></i>
                        <a  class="text-dark text-decoration-none" href="#">Personal</a>
                    </div>
                </li>
                <li class="my-2 p-1 px-3 d-flex justify-content-between align-items-center" onclick="showNotification('error', 'Sorry this feature is not available right now')">
                    <div>
                        <i class="text-secondary fas fa-users"></i>
                        <a  class="text-dark text-decoration-none" href="#">Team</a>
                    </div>
                </li>
                <li class="my-2 p-1 px-3 d-flex justify-content-between align-items-center" onclick="showNotification('error', 'Sorry this feature is not available right now')">
                    <div>
                        <i class="text-warning fas fa-briefcase"></i>
                        <a  class="text-dark text-decoration-none" href="#">Work</a>
                    </div>
                </li>
                <li class="my-2 p-1 px-3 d-flex justify-content-between align-items-center" onclick="showNotification('error', 'Sorry this feature is not available right now')">
                    <div>
                        <i class="text-success fas fa-add"></i>
                        <a  class="text-dark text-decoration-none" href="#">Add new list</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="my-2">
            <ul class="p-0 _user_action m-0">
                <li class="my-2 py-1">
                    <i class="text-danger fas fa-bug"></i>
                    <a class="text-dark text-decoration-none" href="mailto:andrianaivonoe403@gmail.com">Bug report</a>
                </li>
                <li class="my-2 py-1 {% block userGuide %}{% endblock %}">
                    <div class="w-100 d-flex align-items-center">
                        <a  class="text-dark text-decoration-none w-100" href="/dashboard/help">
                            <i class="fas fa-question-circle text-info"></i>
                            Help & User guide
                        </a>
                    </div>
                </li>
                <li class="my-2 py-1 {% block profile %}{% endblock %}">
                    <div class="w-100 d-flex align-items-center">
                        <a  class="text-dark text-decoration-none w-100" href="/dashboard/profile">
                            <i class="fas fa-user-circle text-secondary"></i>
                            My profile
                        </a>
                    </div>
                </li>
                <li class="my-2 py-1">
                    <div class="w-100 d-flex align-items-center">
                        <a  class="text-dark text-decoration-none w-100" href="/auth/logout">
                            <i class="fas fa-sign-out-alt text-secondary"></i>
                            Sign out
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
    <main class="sticky-wall-main p-3 py-4">
        <nav class="nav shadow p-1 align-items-center">
            <button class="btn hide-btn hide-btn2" style="color: transparent;">
                <i class="fas fa-angle-left"></i>
            </button>
            <form class="d-flex justify-content-start align-items-center border px-3 mx-3 rounded-2" action="">
                <i class="text-primary fa fa-search"></i>
                <input name="search_bar" class="px-3 py-2 text-dark bg-transparent" type="search" id="findTask" onkeyup="findTaskk()" placeholder="Find task">
                <div id="searchResultsContainer" class="mt-3 p-2"></div>
            </form>
            <button class="btn open-modal" style="background-color: transparent!important">
                <i class="fas fa-add text-success"></i>
                Add new task
            </button>
            {% block additionnal %}{% endblock%}
            <div class="dropdown position-relative">
                <button class="btn dropdown-toggle position-relative" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bell text-secondary me-2"></i> Notification
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                        0
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </button>
                <ul class="dropdown-menu nofitication-container">
                </ul>
            </div>
            
            <img class="loading-dash loading mx-3" src="{{ url_for('static', filename='images/loading.gif') }}" alt="">
        </nav>
        {% block content %}
            <h1>
                Task manager app
            </h1>
        {% endblock %}
        <!-- Modal -->
        <div class="overlay"></div>
        <div class="modal">
            <form class="d-flex flex-column justify-content-between h-100 task-form" id="add_task_form">
                <div>
                    <div class="d-flex justify-content-between align-items-center px-2 gap-2 my-2">
                        <label for="title" class="text-dark" name="tastTitle" ><i class="fas fa-heading text-primary"></i> Task title</label>
                        <input name="task_title" class="form-control w-75" type="text" id="title" placeholder="Task title">
                    </div>
                    <!--Start date-->
                    <div class="d-flex justify-content-between align-items-center px-2 gap-2 my-2">
                        <label for="startDate" class="text-dark" name="startDate" ><i class="fas fa-calendar-alt text-success"></i> Start date</label>
                        <input name="start_date" class="form-control w-75" type="date" id="startDate" placeholder="Start date">
                    </div>
                    <!--End date-->
                    <div class="d-flex justify-content-between align-items-center px-2 gap-2 my-2">
                        <label for="endDate" class="text-dark" name="endDate" ><i class="fas fa-calendar-check text-danger"></i> End date</label>
                        <input name="end_date" class="form-control w-75" type="date" id="endDate" placeholder="End date">
                    </div>
                    <!--Description-->
                    <div class="d-flex justify-content-between align-items-center px-2 gap-2 my-2">
                        <label for="description" class="text-dark" name="endDate" ><i class="fas fa-align-left text-secondary"></i> Description</label>
                        <input name="task_description" class="form-control w-75" type="text" id="description" placeholder="A short description (optional)">
                    </div>
                    <!--Backgound colour select-->
                    <div class="d-flex justify-content-between align-items-center px-2 gap-2 my-2">
                        <label for="bg-color-piker" class="text-dark" name="endDate" > <i class="fas fa-fill-drip text-warning"></i> Select task background-color <span>(default color    <div class="default-color"></div>  </span>)</label>
                        <input name="task_background" class="" type="color" id="bg-color-piker" value="#95ce83">
                    </div>
                    <!--Task content-->
                    <div class="d-flex justify-content-between align-items-center px-2 gap-2 my-2">
                        <i class="fas fa-add text-dark"></i>
                        <input name="add_btn" class="form-control" type="text" id="content" placeholder="Add sub-task (Optional)">
                        <button name="add_btn" class="add btn btn-primary"> Add</button>
                    </div>
                    <ul class="text-dark task-list-container text-center ps-0">
                        <span id="subTaskIndicator">No subtask added </br> all subtask will appear here</span>
                    </ul>
                </div>                        
                <div class="btn-container">
                    <button class="shadow submit text-light" id="submit">Submit <img class="loading-dash loading" src="{{ url_for('static', filename='images/loading.gif') }}" alt=""></button>
                    <button class="shadow bg-danger text-light" id="closeModal">Close</button>
                </div>
            </from>
        </div>
        <!--End Modal-->
        
    </main>
    <!-- nofitication displayer -->
    <div id="notification" class="d-none position-fixed top-0 start-50 translate-middle-x mt-3 px-4 py-3 shadow rounded text-white d-flex align-items-center gap-2" style="z-index: 9999; min-width: 250px;">
        <i id="notification-icon" class=""></i>
        <span id="notification-message"></span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
        crossorigin="anonymous">
    </script>    
    {% block script %}
    {% endblock %}
    <script>
        let hidden = false
        $('.hide-btn').on('click', () => {
           if(!hidden){
                $('#aside').css('transform', 'translateX(-100%)')
                $('.sticky-wall-main').css('margin-left', '0')
                $('.hide-btn i').css('transform', 'rotate(180deg)')
                $('.hide-btn2').css('color', 'black')
                hidden = true
           }else{
                $('#aside').css('transform', 'translateX(0)')
                $('.hide-btn i').css('transform', 'rotate(0deg)')
                $('.hide-btn2').css('color', 'transparent')
                hidden = false
           }
             
        })
    </script>
</body>
</html>