{% extends "views/users/base.html" %}
{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.css" rel="stylesheet">
{% endblock %}
{% block title %}
    Calendar
{% endblock %}
{% block calendar %}
    active-page
{% endblock %}
{% block content %}
    <div class="container py-3" id="calendar-container">
        <div id='calendar'></div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.17/index.global.min.js"></script>
    <script src="{{ url_for('static', filename='js/users/calendar.script.js') }}"></script>
{% endblock %}
