{% extends "views/users/base.html" %}
{% block head %}
    <script src="{{ url_for('static', filename='js/index.global.js') }}"></script>
{% endblock %}
{% block title %}
    Calendar
{% endblock %}
{% block calendar %}
    active-page
{% endblock %}
{% block content %}
    <h1 class="text-dark d-flex align-items-center justify-content-between">
        <button class="btn menu-btn float-left menu-btn-mobile">
            <hr><hr><hr>
        </button>
        Calendar
    </h1>
    <div class="container py-3">
        <div id='calendar'></div>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/users/calendar.script.js') }}"></script>
{% endblock %}
