{% extends "views/users/base.html" %}
{% block title %}Sticky Wall{% endblock %}
{% block stickywall %}
    active-page
{% endblock %}
{% block content %}
    <h1 class="text-dark d-flex align-items-center justify-content-end">
        <img class="loading-dash loading" src="{{ url_for('static', filename='images/loading.gif') }}" alt="">
    </h1>
    <div class="container py-3">
        <div class="row justify-content-start" id="allTaskContainer">
            <!--Create task-->
            <div class="col-4 p-1 rounded-3 task taskBox">
                <div class=" h-100  p-2 rounded-3 d-flex align-items-center justify-content-center open-modal">
                    <i class="text-dark fas fa-add addSing"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}