body{
    font-family: Arial, Helvetica, sans-serif;
}

aside{
    width: 300px;
    z-index: 10000;
    overflow-y: auto;
    overflow-x: auto;
    transition: .5s ease-in-out;
}

aside ul a{
    border: 1px solid transparent;
}

aside ul a:hover, .admin_profile{
    transition: .5s ease-in-out;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-color: #dee2e6;
}

.admin_profile{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.admin_profile_container{
    height: 50px;
    border-radius: 25px;
}

.charts_container{
    height: 86%;
}

main{
    z-index: 1;
    overflow-y: auto;
    transition: .5s ease-in-out;
    margin-left: 300px;
}

th {
    text-align: center;
    vertical-align: middle;
    background-color: #343a40;
}

tr td{
    text-align: center;
    vertical-align: middle;
}

thead tr th{
    text-align: center;
    vertical-align: middle;
}

/* Toggler */
.sidebar.hidden {
    width: 80px;
    padding: auto 0;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    overflow-x: hidden;
}

.sidebar.hidden form, .sidebar.hidden span, .sidebar.hidden h4, .sidebar.hidden h6{
    display: none!important;
}

.sidebar.hidden a{
    margin: .5rem 0!important;
    padding: 0!important;
    text-align: center;
}

.sidebar.hidden a i{
    font-size: 1rem;
    box-shadow: none;
}

.sidebar.hidden .toggle-btn{
    transform: rotate(-180deg);
}

/* Main content */
.main {
    margin-left: 300px;
    padding: 1rem;
    transition: margin-left 0.5s ease-in-out;
}

.main.full {
    width: calc(100% - 80px);
    margin-left: 80px;
}

/* Toggle button */
.toggle-btn {
    z-index: 1000;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #28a745;
    cursor: pointer;
  }

.dropdown-form {
    min-width: 300px;
    padding: 15px;
}

.card {
    border: none;
    border-radius: 12px;
}

.total_users{
    background-color: #00ff3ca1!important;
}

.users_tasks{
    background-color: #ff9900a8!important;
}

.users_subtasks{
    background-color: #555a57a6!important;
}

.finished_subtasks{
    background-color: #1c915a81!important;
}

hr{
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
}

.card p{
    font-weight: bold;
    font-size: 25px;
}

.card i {
    font-size: 2rem;
    color: #1c915a94;
}

#percentage{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    top: calc(50%);
    left: calc(50% - 25px);
}

#loading{
    width: 25px;
    height: 25px;
    margin: auto 10px;
    display: none;
}

.time{
    transform: scale(0.7);
}

@media screen and (max-width: 1125px){
    aside{
        width: 300px!important;
    }
}
.col-7.h-100 {
    overflow-y: auto;
}

#user_activity_lineChart {
    display: block;
    width: 100% !important;
    height: auto !important;
    max-height: 400px;
}

.online {
    transform: scale(0.7);
}