@media screen and (max-width: 1125px){

    .slide-container h1{
        text-align: center;
        font-size: 50px;
    }

    .slide-container{
        padding: 10px;
    }

    .slide-container p{
        width: 100%;
    }

    .logo-container{
        right: 30px!important;
    }

    /* End Welcome page index responsive */

    /* Start login and registration */
    .form-container{
        margin: 0 auto;
        height: auto;
        box-shadow: none!important;
        position: relative;
    }

    .color{
        color: white!important;
    }

    .form-container .auth-img{
        max-width: 400px;
        border-radius: 20px;
    }

    .form-container div, .form-container form{
        width: 100%;
    }
    /* End login and registration */
    /*  Dashboard */
    main h1{
        text-align: center;
    }

    .sticky-wall-main{
        margin: 0;
    }

    .menu-btn{
        display: inline;
    }

    /* Contact responsive */

    .contact-form-container form{
        flex-direction: column!important;
    }

    .side{
        width: 100%!important;
    }

    .contact-form-container, .form-container{
        height: auto;
        left: 0;
        width: 100%!important;
    }
    
    .logo-container{
        display: none!important;
    }

    /* End contact responsive*/

    /* Welcome modal responsive */

    .welcome-modal-content{
        width: 100%;
    }
    /* End Welcome Modal */
}

@media screen and (max-width:768px){
    /* Login and registration page */
    .form-container{
        border-radius: none!important;
        box-shadow: none!important;
        width: 100%;
        flex-direction: column;
    }

    .form-container form, .form-container > div{
        width: 80%
    }

    header::before {
        width: auto;
    }

    .logo-container{
        display: none!important;
    }
    
    .contact-form-container form{
        flex-direction: column!important;
        justify-content: center;
    }

    #register-img{
        top: 0;
    }

    #login-img{
        top: 0;
    }
    /* End Login and registration page */

}

@media screen and (max-width: 766px){
    /*  Dashboard */
    main .container .row{
        flex-direction: column;
    }

    main .container .row .taskBox{
        width: 100%;
    }

    main .container{
        width: 100%;
    }
}

/* Hide menu list on small screens initially */
@media (max-width: 768px) {
    #menu-list {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
        background-color: #212529;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
    }

    #menu-list.active {
        display: flex;
    }

    #menu-btn {
        display: block;
    }
}

/* Show menu normally on desktop */
@media (min-width: 769px) {
    #menu-list {
        display: flex !important;
    }

    #menu-btn {
        display: none;
    }
}