<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Admin Login</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo00.png') }}" sizes="32x32">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_login.css') }}">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>

  <div class="login-box">
    <h2 class="text-secondary"><i class="fas fa-user-shield me-2"></i>Admin Login</h2>
    <form id="adminLoginForm">
      <div class="mb-3">
        <label for="email" class="form-label"><i class="fas fa-envelope text-secondary"></i> Email address</label>
        <input type="email" class="form-control rounded-pill py-2 px-4" id="email" placeholder="Email" required />
      </div>

      <div class="mb-3 form-group">
        <label for="password" class="form-label"><i class="fas fa-key text-success"></i> Password</label>
        <input type="password" class="form-control rounded-pill py-2 px-4" id="password" placeholder="password" required />
        <i class="fa-solid fa-eye toggle-password" id="togglePassword"></i>
      </div>

      <button type="submit" class="btn btn-primary bg-success rounded-pill" id="submit_btn">Login <img id="loading" src="{{ url_for('static', filename='images/loading.gif') }}" alt=""></button>
      <div class="text-center mt-2">
        <a href="/dashboard" class="text-decoration-none text-success"><i class="fas fa-arrow-left"></i> Back to dashboard</a>
      </div>
    </form>
  </div>

  <div id="notification" class="d-none position-fixed top-0 start-50 translate-middle-x mt-3 px-4 py-3 shadow rounded text-white d-flex align-items-center gap-2" style="z-index: 9999; min-width: 250px;">
    <i id="notification-icon" class=""></i>
    <span id="notification-message"></span>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+AMrE5E6Evhp1I1KVp5n0i1pFlt/7" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/admin/admin_login.js') }}"></script>
</body>
</html>
