{% extends "views/admin/base.html" %}
{% block title %}
    Admin manage users
{% endblock %}
{% block usersManageActive %}
    border shadow
{% endblock %}
{% block head %}
<style>
    .dropdown-container {
      position: relative;
      display: inline-block;
    }

    .dropdown-form {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      width: 300px;
      margin-top: 5px;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
      background: #f9f9f9;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="my-4">
            <h2 class="mb-0 text-center">
                <i class="fas fa-users text-secondary"></i>
                All Users
            </h2>
            <p class="text-muted text-center">List of all users in the system</p>
            <div class="d-flex justify-content-between">
                <div class="dropdown-container">
                    <button id="toggleFormBtn" class="btn btn-success">
                      <i class="fas fa-add"></i> Add new user
                    </button>
                
                    <div id="userForm" class="dropdown-form">
                      <form id="adduser">
                        <div class="mb-3">
                          <label for="email" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="new_email" placeholder="Enter email" required>
                        </div>
                
                        <div class="mb-3">
                          <label for="password1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="password" placeholder="Enter password" required>
                        </div>
                
                        <div class="mb-3">
                          <label for="password2" class="form-label">Confirm Password</label>
                          <input type="password" class="form-control" id="confirm_password" placeholder="Confirm password" required>
                        </div>
                
                        <div class="form-check form-switch mb-3">
                          <input class="form-check-input" type="checkbox" id="adminSwitch">
                          <label class="form-check-label" for="adminSwitch">Admin Role</label>
                        </div>
                
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
                </div>

                <div class="d-flex gap-3">
                    <h4 class="m-0 text-center">
                        Total users <span id="simple_users_nbr">N/a</span>
                    </h4>
                    <h4 class="m-0 text-center">
                        / Admin <span id="admin_nbr">N/a</span>
                    </h4>
                    <a class="btn btn-primary" id="refreshBtn" href="{{ url_for('export_csv') }}">
                        <i class="fas fa-sync"></i> Refresh
                        Export to CSV
                    </a>
                </div>
            </div>
        </div>

        <div style="max-width: 100%; overflow-x: auto;">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th><i class="fas fa-id-badge text-danger"></i><br> ID</th>
                        <th><i class="fas fa-envelope text-secondary"></i><br> Email</th>
                        <th><i class="fas fa-tasks text-success"></i><br> Tasks</th>
                        <th><i class="fas fa-check-circle text-success"></i><br> Finished Tasks</th>
                        <th><i class="fas fa-stream"></i> Subtasks</th>
                        <th><i class="fas fa-check-double text-success"></i><br> Finished Subtasks</th>
                        <th><i class="fas fa-calendar-plus text-warning"></i><br> Created At</th>
                        <th><i class="fas fa-calendar-check text-success"></i><br> Updated At</th>
                        <th><i class="fas fa-bolt text-warning"></i> Activity</th>
                        <th><i class="fas fa-toggle-on text-success"></i> Status</th>
                        <th><i class="fas fa-gear text-secondary"></i> Actions</th>
                    </tr>
                </thead>
                <tbody id="userTableBody">
                <!-- Filled by JS -->
                </tbody>
            </table>
        </div>  
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/admin/admin_manage_users.js') }}" ></script>
    <script>
         const btn = document.getElementById("toggleFormBtn");
            const form = document.getElementById("userForm");

            btn.addEventListener("click", () => {
            form.style.display = form.style.display === "none" || form.style.display === "" ? "block" : "none";
        });
    </script>
{% endblock %}
