{% extends "views/admin/base.html" %}
{% block title %}
    Admin manage users
{% endblock %}
{% block usersManageActive %}
    border shadow
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="my-4">
            <h2 class="mb-0 text-center">
                <i class="fas fa-users text-secondary"></i>
                All Users
            </h2>
            <p class="text-muted text-center">List of all users in the system</p>
            <h4 class="mt-2 text-center">
                Total users <span id="simple_users_nbr">N/a</span>
            </h4>
            <h4 class="mb-0 text-center">
                Admin <span id="admin_nbr">N/a</span>
            </h4>
        </div>

        <div style="max-width: 100%; overflow-x: auto;">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th><i class="fas fa-id-badge text-danger"></i><br> ID</th>
                        <th><i class="fas fa-envelope text-secondary"></i><br> Email</th>
                        <th><i class="fas fa-tasks text-success"></i><br> Tasks</th>
                        <th><i class="fas fa-check-circle text-success"></i><br> Finished Tasks</th>
                        <th><i class="fas fa-stream"></i> Subtasks</th>
                        <th><i class="fas fa-check-double text-success"></i><br> Finished Subtasks</th>
                        <th><i class="fas fa-calendar-plus text-warning"></i><br> Created At</th>
                        <th><i class="fas fa-calendar-check text-success"></i><br> Updated At</th>
                        <th><i class="fas fa-bolt text-warning"></i> Activity</th>
                        <th><i class="fas fa-toggle-on text-success"></i> Status</th>
                        <th><i class="fas fa-gear text-secondary"></i> Actions</th>
                    </tr>
                </thead>
                <tbody id="userTableBody">
                <!-- Filled by JS -->
                </tbody>
            </table>
        </div>  
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/admin/admin_manage_users.js') }}" ></script>
{% endblock %}
